

.thingsTodo-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}

.thingsTodo-conteiner-global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li{
    list-style: none;
    margin: 20px;
}