.container-light{
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    color: rgb(2, 2, 2);
    padding-top: 20px;
}


.footer-light {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    color: rgb(2, 2, 2);
    box-shadow: -5px -5px 10px rgba(94, 104, 121, 0.486), 5px 3px 10px rgba(255, 255, 255, 0.76);
}

.footer-dark {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition-duration: 01s;
    background-color: rgb(26, 24, 24);
    color: rgb(197, 187, 187);
    box-shadow: -3px -2px 10px rgb(0, 0, 0), 3px 2px 10px rgba(255, 255, 255, 0.247);
}

.container-dark{
    transition-duration: 01s;
    background-color: rgb(26, 24, 24);
    color: rgb(197, 187, 187);
    padding-top: 20px;
}